---
title: Under Construction
preloader: false
layout: default.hbs

---

<div id="preloader">
	<div class="site-spinner"></div>
</div>
<div class="border-top"></div>
<div class="border-right"></div>
<div class="border-bottom"></div>
<div class="border-left"></div>
<div class="hero">
	<div class="centered">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 text-center">
					<p>Be&nbsp;ready, we are launching&nbsp;soon.</p>
					<h1>Premium&nbsp;Fitness</h1>
				</div>
			</div>
		</div>
	</div>
	<a href="mailto:info@premiumfitness.nl" class="mail"><i class="fa fa-envelope" aria-hidden="true"></i></a>
</div>