<section class="quote wow fadeIn" data-wow-duration="1s" data-wow-delay=".25s">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 noPadding">
				<figure class="img-container img-ratio-2-1">
					<img src="assets/img/desk.jpg" alt="" class="img-responsive">
				</figure>
			</div>
		</div>
	</div>
</section>