 <!-- Start selected work -->
<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 wow fadeIn" data-wow-duration="1s" data-wow-delay=".25s">
				<h3 class="h2">I design clean and minimal interfaces for web and mobile products.</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<div class="portfolio-item wow fadeIn" data-wow-duration="1s" data-wow-delay=".25s">
					{{!-- <div class="portfolio-item-details">
						Personal Work<br />
						Minimal multi-purpose responsive website
					</div> --}}
					<div class="owl-carousel">
						<div>
							<div class="portfolio-item-figure">
								<figure class="img-container img-ratio-3-2">
									<img src="assets/img/template/slide-1.jpg" alt="" class="img-responsive">
								</figure>
							</div>
						</div>
						<div>
							<div class="portfolio-item-figure">
								<figure class="img-container img-ratio-3-2">
									<img src="assets/img/template/slide-2.jpg" alt="" class="img-responsive">
								</figure>
							</div>
						</div>
						<div>
							<div class="portfolio-item-figure">
								<figure class="img-container img-ratio-3-2">
									<img src="assets/img/template/slide-3.jpg" alt="" class="img-responsive">
								</figure>
							</div>
						</div>
						<div>
							<div class="portfolio-item-figure">
								<figure class="img-container img-ratio-3-2">
									<img src="assets/img/quelicous/slide-2.jpg" alt="" class="img-responsive">
								</figure>
							</div>
						</div>
						<div>
							<div class="portfolio-item-figure">
								<figure class="img-container img-ratio-3-2">
									<img src="assets/img/digitalmonkey/slide-1.jpg" alt="" class="img-responsive">
								</figure>
							</div>
						</div>
					</div>
				</div>

				{{!-- <div class="portfolio-item wow fadeIn" data-wow-duration="1s" data-wow-delay=".25s">
					<div class="portfolio-item-details">
						QueLicious<br />
						Logo Design
					</div>
					<div class="owl-carousel">
						<div>
							<div class="portfolio-item-figure">
								<figure class="img-container img-ratio-3-2">
									<img src="assets/img/quelicous/slide-2.jpg" alt="" class="img-responsive">
								</figure>
							</div>
						</div>
					</div>
					
				</div> --}}

				{{!-- <div class="portfolio-item wow fadeIn" data-wow-duration="1s" data-wow-delay=".25s">
					<div class="portfolio-item-details">
						Client: Digital Monkey<br />
						Project: Branding
					</div>
					<div class="owl-carousel">
						<div>
							<div class="portfolio-item-figure">
								<figure class="img-container img-ratio-3-2">
									<img src="assets/img/yellow-wallnut/slide-1.jpg" alt="" class="img-responsive">
								</figure>
							</div>
						</div>
						<div>
							<div class="portfolio-item-figure">
								<figure class="img-container img-ratio-3-2">
									<img src="assets/img/yellow-wallnut/slide-2.jpg" alt="" class="img-responsive">
								</figure>
							</div>
						</div>
						<div>
							<div class="portfolio-item-figure">
								<figure class="img-container img-ratio-3-2">
									<img src="assets/img/yellow-wallnut/slide-3.jpg" alt="" class="img-responsive">
								</figure>
							</div>
						</div>
					</div>
				</div> --}}
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 wow fadeIn" data-wow-duration="1s" data-wow-delay=".25s">
				<h3 class="h2">Strongly focused on web trend and interactivity.</h3>
				<p class="paragraph m-b-0">
					The world is an endless resource of knowledge, information, and ideologies we can use to improve the livelihoods of ourselves and those around us. Although we are now more connected than ever and have all these channels at our finger-tips, it's difficult to distinguish which of these mediums deliver value and substantial directives. Being brought up as a creative thinker and passionate designer, I've used my abilities to mitigate the nonsense and build digital experiences that are rich with meaning and authenticity. 
				</p>
			</div>
		</div>
	</div>
</section>



