
{{!-- <!-- MENU -->
<button class="menu-btn"><span></span></button>
<nav class="navigation">
    <ul>
        <li>About me.</li>
        <li>Selected work.</li>
        <li>Get in touch.</li>
    </ul>
</nav> --}}
{{!-- <div class="background_cycler">
        <div class="slide-1 active"></div>
        <div class="slide-2"></div>
        <div class="slide-3"></div>
    </div> --}}
{{!-- <button class="button">Let's talk</button> --}}
<div class="border-top"></div>
<div class="border-right"></div>
<div class="border-bottom"></div>
<div class="border-left"></div>
<section class="hero">
    <div class="centered">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text-center wow fadeIn" data-wow-duration="1s" data-wow-delay=".25s">
                    <img src="assets/svg/logo-roanhahn.svg" alt="" class="logo">
                    <h1>Roan Hahn</h1>
                    <h2><span class="typed"></span>&nbsp;</h2>
                </div>
            </div>
        </div>
    </div>
    <span class="learn-more-arrow"></span>
</section>