<section class="section wow fadeIn" data-wow-duration="1s" data-wow-delay=".25s">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 text-center">
                <h2 class="h2 h2-center">
                    Let's talk.
                </h2>
                <p class="paragraph">
                    If you'd like to talk about your next project, or if you're interested in my availability and rates, please don't hesitate to contact me.
                </p>
                <ul class="contact">
                    <li>
                       <a href="&#109;&#x61;&#105;&#108;&#116;&#x6f;&#x3a;&#x68;&#x65;&#x6c;&#x6c;&#x6f;&#x40;&#114;&#x6f;&#x61;&#110;&#104;&#x61;&#x68;&#x6e;&#x2e;&#x6e;&#108;">Mail.</a>
                    </li>
                    <li>
                        <a href="https://dribbble.com/roanhahn">Dribbble.</a>
                    </li>
                    <li>
                        <a href="https://pinterest.com/roanhahn">Pinterest.</a>
                    </li>
                    <li>
                        <a href="http://www.linkedin.com/in/roanhahn">LinkedIn.</a>
                    </li>
                </ul>
            </div> 
        </div>
    </div>
</section>