body, html{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	cursor: default;
	background: #fff;
	color: $text-color;
	font-family: $secondary-font;
	font-weight: 300;
	// font-size: 25px;
	// line-height: 2;
}

::-moz-selection { /* Code for Firefox */
	color: #fff;
	background: $heading-color;
}

::selection {
	color: #fff;
	background: $heading-color;
}

a{
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

.h2{
	font-family: $primary-font;
	font-weight: 700;
	font-size: 60px;
	line-height: 1.2;
	margin: 0 0 40px;
	padding: 0;
	color: $heading-color;

	&:before, &:after{
		display: block;
		height: 1px;
		background-color: #bdbdbd;
		width: 10%;
		content: "";
		margin-bottom: 30px;
	}

	&:after{
		margin-bottom: 0px;
		margin-top: 30px;
	}

	&-center{
		text-align: center;
		&:before, &:after{
			margin-left: auto;
			margin-right: auto;
		}
	}

	@media all and (max-width: $breakpoint-tablet){
		font-size: 45px;
	}

	@media all and (max-width: $breakpoint-mobile){
		font-size: 25px;
	}
}

.h3{
	font-family: $primary-font;
	font-weight: 700;
	color: $heading-color;
	text-transform: uppercase;
}

.h4{
	font-family: $primary-font;
	font-weight: 700;
	font-size: 22px;
	color: $heading-color;
	line-height: 1.2;
	margin-bottom: 40px;
	margin-top: 40px;

	&:before{
		display: block;
		height: 1px;
		background-color: #bdbdbd;
		width: 10%;
		content: "";
		margin-top: 30px;
		margin-bottom: 30px;
	}

	@media all and (max-width: $breakpoint-tablet){
		font-size: 17px;
	}
	@media all and (max-width: $breakpoint-mobile){
		font-size: 14px;
	}
}


.paragraph{
	font-size: 22px;
	line-height: 2;
	@media all and (max-width: $breakpoint-tablet){
		font-size: 19px;
	}
	@media all and (max-width: $breakpoint-mobile){
		font-size: 14px;
	}
	// font-size: 19px;
	& a{
		color: $color-1;
		text-decoration: none;
		font-weight: 400;
		display: inline-block;
		border-bottom: 1px dotted $color-1;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;

		&:hover{
			text-decoration: none;
			color: $heading-color;
			border-color: $heading-color;
		}
	}
}

.owl-page span{
	width: 7px !important;
	height: 7px !important;
	background-color: $text-color !important;
}

.active span{
	background-color: $heading-color !important;
}

.skills{
	margin: 0;
	padding: 0;

	& li{
		display: inline-block;
		float: left;
		list-style-type: none;
		border: 1px solid #bdbdbd;
		padding: 15px 20px;
		font-size: 12px;
		line-height: 1;
		margin: 0 10px 10px 0;
		text-transform: uppercase;
		font-family: $primary-font;
		font-weight: 400;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
		border-radius: 30px;

		& a{
			color: $text-color;
			text-decoration: none;
			border: none;

			&:hover{
				text-decoration: none;
			}
		}

		@media all and (max-width: $breakpoint-mobile){
			font-size: 8px;
			padding: 10px 15px;
			margin: 0 5px 5px 0;
		}
	}
}

.contact{
	margin: 30px 0 0;
	padding: 0;

	& li{
		display: inline-block;
		margin: 0 10px;
		font-size: 20px;
		font-family: $primary-font;

		@media all and (max-width: $breakpoint-mobile){
			display: block;
			font-size: 16px;
			margin: 0 0 10px;
		}

		& a{
			color: $heading-color;
			display: block;
			-webkit-transition: all 0.3s ease-in-out 0s;
			-moz-transition: all 0.3s ease-in-out 0s;
			-o-transition: all 0.3s ease-in-out 0s;
			transition: all 0.3s ease-in-out 0s;

			&:after{
				display: block;
				height: 2px;
				background-color: $color-1;
				content: "";
				width: 0px;
				-webkit-transition: all 0.3s ease-in-out 0s;
				-moz-transition: all 0.3s ease-in-out 0s;
				-o-transition: all 0.3s ease-in-out 0s;
				transition: all 0.3s ease-in-out 0s;
			}

			&:hover:after{
				width: 100%;

				@media all and (max-width: $breakpoint-mobile){
					width: 0%;
				}
			}
			&:hover{
				text-decoration: none;
				// color: $color-1;
			}
		}
	}
}

// TYPE JS STYLING

.typed-cursor{
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

