$breakpoint-desktop: 1199px;
$breakpoint-tablet: 991px;
$breakpoint-mobile: 767px;

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

$footer-bg-color: #000;
$footer-color: #fff;


// $color-1: #D31900;
// $color-2: #FF6600;
// $color-3: #FFF2AF;
// $color-4: #7CB490;
// $color-5: #000000;

$color-1: #000;
$color-2: #6C6368;
$color-3: #ffd800; // Yellow
$color-4: #EAA353;
$color-5: #FFEFA9;


$heading-color: #212121; 
$text-color: #616161;
$border-color: #f0f0f0;